.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #e3e3e3;
  padding: 5px 5%;

  @media (max-width: 550px) {
    flex-direction: column-reverse;
    height: 113px;
    padding: 15px 0;
  }


  &__buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;

    @media (max-width: 650px) {
      width: fit-content;
    }

    @media (max-width: 550px) {
      margin-top: 20px;
      width: 70%;
    }

    & button{
      margin-right: 10px;
    }
  }
}

.burger{

  & span{
    width: 17px;
    height: 2px;
    background-color: #a6aaa9;
    display: block;
    margin: 7px 0;
    position: relative;
    transition: all .3s;

      &:before, &:after{
      content: '';
        width: 17px;
        height: 2px;
        background-color: #a6aaa9;
        position: absolute;
        transition: all .3s;
    }

    &:before{
      top: -5px;
      left: 0
    }

    &:after{
      top: 5px;
      left: 0
    }

  }

  &.opened{
    & span{
      height: 0;
      margin: 8px 0;

     &:before{
        transform: rotate(135deg);
       top: 0;
      }

      &:after{
        transform: rotate(-135deg);
        top: 0;
      }

    }
  }
}